<h1>Astronauts! IN SPACE!!!</h1>

<div id="avg-age">
  Average Age: <%= Astronaut.avg_age %>
</div>

<div class="astronauts-list">
  <% @astronauts.each do |astro| %>
    <p>Astronaut #<%= astro.id %></p>
    <p>
      Name: <%= astro.name %>, 
      Age: <%= astro.age %>, 
      Job: <%= astro.job %>
    </p>
  <% end %>
</div>