<h1>Astronauts! IN SPACE!!!</h1>

<div id="avg-age">
  Average Age: <%= Astronaut.avg_age %>
</div>

<div class="astronauts-list">
  <% @astronauts.each do |astro| %>
    <div id=<%= astro.id %>>Astronaut #<%= astro.id %></p>
      <p>
        Name: <%= astro.name %>, 
        Age: <%= astro.age %>, 
        Job: <%= astro.job %>
      </p>

      <ul>
        <% astro.mission_list.each do | mission| %>
          <li><%= mission.title %></li>
        <% end %>
      </ul>
    </div><br>
  <% end %>
</div>